**/.terraform/*


*.tfstate
*.tfstate.*


crash.log
crash.*.log


*.tfvars
*.tfvars.json


override.tf
override.tf.json
*_override.tf
*_override.tf.json


.terraform.tfstate.lock.info


__pycache__/
*.py[cod]
*$py.class


venv/
env/
.env



athena-query-results*/



.DS_Store
Thumbs.db
.idea/
.vscode/